img {
    width: 100%;
}

p {
  color: #0065a4;
font-size: 1.05882em;
font-family: Museo-Sans,"Liberation Sans",Helvetica,Arial,sans-serif;
font-weight: 300;
line-height: 1.16667;
margin: 0 0 1em 0;
}
