body {
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  padding: 0 0 2em 0;
  margin: 0 0 2em 0;
}


a {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px dotted #f00;*/
  position: relative;
  width: 50%;
  float: left;
  color: #fff;
  font-size: 75%;
  /*overflow: hidden;*/

}

a img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 15;
}

@media screen and (min-width:600px) {

  a {
    width: 33.333333%;
  }

}

@media screen and (min-width:800px) {

  a {
    width: 25%;
  }

}

@media screen and (min-width:1200px) {

  a {
    width: 20%;
  }

}

@media screen and (min-width:1500px) {

  a {
    width: 33%;
  }

}
