.titleBox {
      color: #0065a4;
    font-size: 1.05882em;
    font-weight: 700;
    font-family: "Museo-Sans","Liberation Sans",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.16667;
    margin: 0 0 1em 0;
    text-rendering: optimizeLegibility;

}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}
.wrap {
    overflow: hidden;
    margin: 10px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.box {
    float: left;
    position: relative;
    width: 50%;
  height:470px;
    padding-bottom: 3%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}
 .boxInner img { width: 100% }


@media only screen and (max-width:480px) {
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
         padding-bottom: 0;
         height:330px;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) {
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
         padding-bottom: 0;
      height: 290px;
    }
}
@media only screen and (max-width:1050px) and (min-width:651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 50%;
        padding-bottom: 0;
            height: 330px;
    }
}
@media only screen and (max-width:1290px) and (min-width:1051px) {
    /* Medium desktop: 4 tiles */
    .box {
        width: 50%;
        padding-bottom: 0;
    }
}
